
.home-layout {
    padding: 30px 20px;
}

.category {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
    grid-gap: 5px;
}

.category-name {
    color: #666;
    padding-left: 5px;
    border-left: 3px solid #666;
}



.category-item {
    font-family: 'Roboto', Helvetica, Arial,sans-senif;
    font-size: 12px;
    border: 1px solid #189eff;
    border-radius: 3px;
    color: #666;
    padding: 15px 20px;
    cursor: pointer;
    transition: 0.3s all ease;
}

.category-item:hover {
        text-decoration: none;

}

.category-product-items {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(200px, 1fr) );
    grid-gap: 5px;
    padding: 30px 0px;
}

.category-item:hover {
    background-color: #189eff;
    color: #fff;
}

.category-active {
    background-color: #189eff;
    color: #fff;
}

.category-product {
    padding: 30px 0px;
}

.category-product-item {
    text-decoration: none;
    color: #000;
    padding: 10px 10px;
    border: 0.5px solid #eee;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}



    .category-product-item:hover {
        box-shadow: 0px 5px 5px rgba(0 , 0 ,0, 0.4);
        text-decoration: none;
    }

    .category-product-item > p {
        margin: 0;
        padding: 0;
        margin-top: 8px;
        font-size: 13px;

            display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 15px;
    max-height: 45px;
    text-overflow: ellipsis;
    overflow: hidden;

    }


.primary {
    color: #189eff
}

.category-product-item-image {
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #fafafa;
}
