
.home-layout {
    padding: 30px 20px;
}

.category {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
    grid-gap: 5px;
}

.category-name {
    color: #189eff;
    padding-left: 5px;
    border-left: 3px solid #189eff;
}



.category-item {
    font-family: 'Roboto', Helvetica, Arial,sans-senif;
    font-size: 12px;
    border: 1px solid #eee;
    color: #666;
    padding: 15px 20px;
    cursor: pointer;
    transition: 0.3s all ease;
}

.category-product-items {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(200px, 1fr) );
    grid-gap: 5px;
    padding: 30px 0px;
}

.category-item:hover {
    border: 1px solid #189eff;
    color: #189eff;
}

.category-product {
    padding: 30px 0px;
}

.category-product-item {
    padding: 10px 10px;
    border: 1.5px solid #eee;
    transition: all 0.1s ease-in-out;
}

    .category-product-item:hover {
        border: 2px solid #189eff;
    }

    .category-product-item > p {
        margin: 0;
        padding: 0;
        margin-top: 3px;
        font-size: 13px;
    }

.product-name {
    font-size: 15px;
}

.category-product-item-image {
    max-width: 100%;
}
