html, body, form {
    padding: 0;
    margin: 0;
    font-family: NotoSans-Regular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.page-layout {
    padding: 100px 20%;
    justify-content: center;
}

.no-margin {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.small-description {
    font-size: 13px;
    color: #808080;
    opacity: 0.8;
    margin-top: 5px;
}

.location {
    color: #dc4c41;
    margin-right: 3px;
    font-size: 18px;
}

.popup {
    text-align: center;
    max-width: 350px;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #fff;
    color: #000;
    position: fixed;
    top: -50px;
    left: 50%;
    font-weight: bold;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
    border: 0.5px solid #e7e7e7;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.appear {
    transition: all 0.3s ease-in-out;
    animation-name: example;
    animation-duration: 3s;
}

/*upload multi image*/

.preview-image {
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    overflow: auto;
}

.preview-image-item {
    width: 100px;
    height: 100px;
    border: 1px dotted #808080;
    border-radius: 5px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.preview-image-clear {
    font-size: 25px;
    align-self: center;
    cursor: pointer;
}

.preview-image > * {
    margin-right: 10px;
}

/* Standard syntax */
@keyframes example {
    0% {
        top: 0px;
    }

    5% {
        top: 50px;
    }

    25% {
        top: 50px;
    }

    50% {
        top: 50px;
    }

    75% {
        top: 50px;
    }

    100% {
        top: 50px;
    }
}

.popup > .issue {
    color: #ff0000;
}

.popup > span {
    margin-left: 5px;
    font-size: 15px;
}

@media screen and (max-width: 768px) {

    .page-layout {
        padding: 30px 20px;
    }
}
